header {
    align-items: center;
    display: inline-flex;
    margin: 40px 5%;
    width: 90%;
    max-width: 2000px;
  }
  
  header > img {
    height: 68px;
  }
  
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    font-size: 18px;
  }
  
  .link {
    color: $main-color;
    margin: auto 25px;
    text-decoration: none;
  }
  .link:hover {
    color: #000000;
  }
  
  .link.active {
      border-bottom: 1px solid $main-color;
  }
  
  @media screen and (max-width: 768px) {
    header {
      margin: 40px 5%;
      width: 90%;
    }
    
    header > img {
      height: 40px;
    }
  
    .link {
      margin: auto 5px;
      font-size: 15px;
    }
  }

