.tag{
    background-color: $main-color;
    width: 20%;
    height: 25px;
    margin-right: 10px;
    border-radius: 10px;
    @include center;
}
.tag_text{
    font-size: 14px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $main-color-text;
}

@media screen and (max-width: 768px) {
    .tag{
        width: 25%;
        font-size: 10px;
    }
}