.page_404 {
    text-align: center;
  }
  
  .title_404 {
    color: #ff6060;
    font-size: 208px;
    margin: auto;
    line-height: 411px;
    
  }
  
  .description_404 {
    color: #ff6060;
    display: block;
    font-size: 36px;

  }
  
  .lien_404 {
    display: block;
    margin-top: 150px;
    font-size: 18px;
    text-decoration-line: underline ;
    color: #ff6060;
  }
  
