.about {
    @include center;
    flex-direction: column;
}
.all_collapse {
    @include center;
    flex-direction: column;
    width: 90%;
    max-width: 2000px;

}
@media screen and (max-width: 768px) {
    .all_collapse{
      width: 90%;
    }
  }