.rental {
    color: #ff6060;
}
.rental_area{
    width: 50%;
    margin: 0 5%;
}
.rental_title{
    font-size: 36px;
}
.rental_location{
    font-size: 18px;
}
.information{
    display: flex;
    justify-content: space-between;
}
.owner{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 0 5%;
    align-items: flex-end;
}
.owner_picture{
    height: 64px;
    width: 64px;
    border-radius: 100px;
}
.owner_name{
    font-size: 18px;
    width: 10%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
.tag_rating{
    display: flex;
    align-items: baseline;
}
.all_tag{
    margin: 10px 5%;
    display: flex;
    width: 200%;
}

.collapse_rental{
    display: flex;
    width: 90%;
    margin: 50px 5% 0px;
}
.box_collapse_description{
    width: 50%;
}
.box_collapse_equipment{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .collapse_rental{
        flex-direction: column;
        width: 90%;
    }
    .information{
        flex-direction: column;
    }
    .rental_area{
        width: 90%;
    }
    .rental_title{
        font-size: 18px;
    }
    .rental_location{
        font-size: 14px;
    }
    .owner{
        position: relative;
        top: 70px;
        left: 40%;
    }
    .owner_picture{
        height: 32px;
        width: 32px;
    }
    .owner_name{
        height: 32px;
        font-size: 12px;
    }
    .tag_rating{
        flex-direction: column;
    }
    .all_tag{
        position: relative;
        margin-top: 0%;
        width: 90%;
        
    }
    .box_collapse_description{
        width: 100%;
    }
    .box_collapse_equipment{
        width: 100%;
    }
}