.banner {
    border-radius: 10px;
    height: 225px;
    margin-bottom: 35px;
    position: relative;
    width: 90%;
    max-width: 2000px;
  }
  .banner_picture {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .banner_picture_mobile {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    visibility: hidden;
    right: 0px;
  }

  .banner_darken {
    background-color: #000000;
    border-radius: 10px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .banniere_txt {
    color: #ffffff;
    font-size: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
 

  @media screen and (max-width: 768px) {
    .banniere_txt{
      font-size: 30px;
      justify-content: flex-start;
      margin-left: 0%;
      margin-right: 0%;
      width: 60%;
    }
  }
  @media screen and (max-width: 425px) {
    .banner {
      height: 120px;
    }
    .banner_picture {
      visibility: hidden;
    }
    .banner_picture_mobile {
      visibility: visible;
  
    }
    .banniere_txt{
      font-size: 26px;
      width: 70%;
    }
    
  }
