.carrousel {
    display: block;
    height: 435px;
    margin: auto auto 30px auto;
    position: relative;
    width: 90%;
}

.left_arrow {
    margin-left: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    position: absolute;
    width: 45px;
    z-index: 1;
}
.right_arrow {
    margin-right: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 45px;
    z-index: 1;
}

.carrousel_picture {
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
    display: none;
    width: 100%
}
.carrousel_picture.actif {
    display: block;
}
