.collapse {
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: left;
    width: 80%;
  }

  .header_collapse {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 50px;
    width: 100%;
  }
  
  .title_collapse {
    font-size: 24px;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
  }
  
  .arrow_collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
  }
  .arrow_collapse:hover {
      cursor: pointer;
  }
  
  .arrow_collapse.true {
    justify-content: start;
    transform: rotate(-180deg);
  }
  
  .description_collapse {
    font-size: 24px;
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    height: 75%;
    width: 100%;
    margin-top: -10px;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
  }
  @media screen and (max-width: 768px) {
    .collapse{
      width: 90%;
    }
  }