.rental {
    color: #ff6060;
}
.rental_area{
    width: 50%;
    margin: 0 5%;
}
.rental_title{
    font-size: 36px;
}
.rental_location{
    font-size: 18px;
}
.information{
    display: flex;
    justify-content: space-between;
}
.owner{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 0 5%;
    align-items: flex-end;
}
.owner_picture{
    height: 64px;
    width: 64px;
    border-radius: 100px;
}
.owner_name{
    font-size: 18px;
    width: 10%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.collapse_rental{
    display: flex;
    width: 90%;
    margin: 50px 5% 0px;
}