.tag{
    background-color: #ff6060;
    width: 20%;
    height: 25px;
    margin-right: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
